In [1]:
# Import-a-ton
import pandas as pd
import pickle

# Epicurious

Having a look at the recipes dataset.

In [2]:
# Load the dataset
epicurious = './datasets/epicurious/epi_r.csv'
df = pd.read_csv(epicurious, encoding = 'utf8')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20052 entries, 0 to 20051
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 104.0+ MB

In [4]:
df.columns

Index([u'title', u'rating', u'calories', u'protein', u'fat', u'sodium',
       u'#cakeweek', u'#wasteless', u'22-minute meals',
       u'3-ingredient recipes',
       ...
       u'yellow squash', u'yogurt', u'yonkers', u'yuca', u'zucchini',
       u'cookbooks', u'leftovers', u'snack', u'snack week', u'turkey'],
      dtype='object', length=680)

In [5]:
df['rating'].describe()

count    20052.000000
mean         3.714467
std          1.340829
min          0.000000
25%          3.750000
50%          4.375000
75%          4.375000
max          5.000000
Name: rating, dtype: float64

In [6]:
# Columns with null values
df.columns[df.isnull().any()].tolist()

[u'calories', u'protein', u'fat', u'sodium']

In [7]:
# Don't really need these columns...drop!
df = df.drop(columns=df.columns[df.isnull().any()].tolist())

In [8]:
df.head()

,title,rating,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,30 days of groceries,advance prep required,alabama,alaska,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Potato and Fennel Soup Hodge,3.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Spinach Noodle Casserole,3.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Check for duplicated rows
df[df.duplicated('title', keep=False)].head()

,title,rating,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,30 days of groceries,advance prep required,alabama,alaska,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
14,Peach Mustard,3.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,Crisp Braised Pork Shoulder,4.375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Sea Salt-Roasted Pecans,3.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Garlic Baguette Crumbs,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Dried Pear Crisps,2.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# How many duplicated rows are there?
df.duplicated('title', keep=False).sum()

4219

In [11]:
# Checking one:
df[df['title']=='Dried Pear Crisps ']

,title,rating,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,30 days of groceries,advance prep required,alabama,alaska,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
27,Dried Pear Crisps,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9083,Dried Pear Crisps,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# Drop the duplicates
df.drop_duplicates(subset='title', keep='first', inplace=True)

In [13]:
# After dropping duplicates, reset the index
df.reset_index(drop=True, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17736 entries, 0 to 17735
Columns: 676 entries, title to turkey
dtypes: float64(675), object(1)
memory usage: 91.5+ MB

In [15]:
# Checking the ratings column, most important!
df['rating'].value_counts()

4.375    7180
3.750    4645
5.000    2304
0.000    1568
3.125    1323
2.500     473
1.250     139
1.875     104
Name: rating, dtype: int64

In [16]:
# Drop the whitespace at the end of the title cells
df['title'] = df['title'].str.strip()

# Recipes

Extracting just the recipes, their titles, ratings, and preparation details.

In [17]:
recipes = df.iloc[:,:8]

In [18]:
# Don't need #cakeweek an #wasteless
recipes = recipes.drop(columns=['#cakeweek','#wasteless'])

In [19]:
recipes['22-minute meals'].value_counts()

0.0    17719
1.0       17
Name: 22-minute meals, dtype: int64

In [20]:
recipes['3-ingredient recipes'].value_counts()

0.0    17709
1.0       27
Name: 3-ingredient recipes, dtype: int64

In [21]:
recipes['30 days of groceries'].value_counts()

0.0    17729
1.0        7
Name: 30 days of groceries, dtype: int64

In [22]:
recipes['advance prep required'].value_counts()

0.0    17636
1.0      100
Name: advance prep required, dtype: int64

In [23]:
# Change binary columns to int64
binary_columns = ['22-minute meals',
                  '3-ingredient recipes',
                  '30 days of groceries',
                  'advance prep required']

recipes[binary_columns] = recipes[binary_columns].astype('int64')

In [24]:
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17736 entries, 0 to 17735
Data columns (total 6 columns):
title                    17736 non-null object
rating                   17736 non-null float64
22-minute meals          17736 non-null int64
3-ingredient recipes     17736 non-null int64
30 days of groceries     17736 non-null int64
advance prep required    17736 non-null int64
dtypes: float64(1), int64(4), object(1)
memory usage: 831.4+ KB

In [25]:
recipes.head()

,title,rating,22-minute meals,3-ingredient recipes,30 days of groceries,advance prep required
0,"Lentil, Apple, and Turkey Wrap",2.500,0,0,0,0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,0,0,0,0
2,Potato and Fennel Soup Hodge,3.750,0,0,0,0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,0,0,0,0
4,Spinach Noodle Casserole,3.125,0,0,0,0

In [26]:
# Write to CSV file
recipes.to_csv('./datasets/epicurious/epi_recipes.csv', index=False, encoding = 'utf8')

# Ingredients

Taking just the binary ingredients columns.

In [27]:
ingredients = df.iloc[:,8:]

In [28]:
# All binary columns; change them all to integers
ingredients = ingredients.astype('int64')

In [29]:
ingredients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17736 entries, 0 to 17735
Columns: 668 entries, alabama to turkey
dtypes: int64(668)
memory usage: 90.4 MB

In [30]:
list_of_ingredients = ingredients.columns.tolist()

In [31]:
# Pickle!
pickle.dump(list_of_ingredients,open('epi_list_ingredients.p','wb'))

In [32]:
# Write to CSV file
ingredients.to_csv('./datasets/epicurious/epi_ingredients.csv', index=False, encoding = 'utf8')

In [33]:
# Average number of ingredients required
ingredients.sum(axis=1, numeric_only=True).mean()

12.364287325214253

# The Data Dictionary

## Recipes

|Column Name          |Format         |Length|Description|
|---------------------|---------------|---|---|
|Titles               |Object(String) |   |   |
|Ratings              |Discreet(Float)|   |   |
|22-minute meals      |Binary         |   |   |
|3-ingredient recipes |Binary         |   |   |
|30 days of groceries |Binary         |   |   |
|advance prep required|Binary         |   |   |