In [1]:
# Import-a-ton
import pandas as pd
import pickle

In [2]:
epicurious = './datasets/epicurious/epi_ingredients.csv'

In [3]:
df = pd.read_csv(epicurious, encoding = 'utf8')

In [4]:
df.head()

,alabama,alaska,alcoholic,almond,amaretto,anchovy,anise,anniversary,anthony bourdain,aperitif,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Bring in the pickled list of ingredients
list_of_ingredients = pickle.load(open('epi_list_ingredients.p', 'rb'))

In [6]:
list_of_ingredients[:10]

[u'alabama',
 u'alaska',
 u'alcoholic',
 u'almond',
 u'amaretto',
 u'anchovy',
 u'anise',
 u'anniversary',
 u'anthony bourdain',
 u'aperitif']

In [7]:
# Load the products dataset
products = './datasets/instacart/products.csv'
df_product = pd.read_csv(products, encoding = 'utf8')

In [8]:
df_product.head(10)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7

In [21]:
df_product.count()

product_id       49688
product_name     49688
aisle_id         49688
department_id    49688
dtype: int64

In [9]:
# Check for duplicates!
df_product.duplicated('product_name', keep=False).sum()

0

In [10]:
df_product['product_name'].values

array([u'Chocolate Sandwich Cookies', u'All-Seasons Salt',
       u'Robust Golden Unsweetened Oolong Tea', ..., u'Artisan Baguette',
       u'Smartblend Healthy Metabolism Dry Cat Food',
       u'Fresh Foaming Cleanser'], dtype=object)

In [16]:
x = df_product['product_name'].str.lower()

In [12]:
x = df_product['product_name']

In [19]:
# Check for cross polination of ingredients and products
products_in_ingredients = x[x.apply(lambda x: any([y in x for y in list_of_ingredients]))]

In [20]:
len(products_in_ingredients)

39363